/* ---------------------Diseño de los links de las cabeceras de las paginas--------------------- */
.boton{
    display: inline-block;
    border: 2px solid rgb(1, 1, 157);
    padding: 10px 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(1, 1, 157);
    font-size: 15px;
    min-width: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}

.boton.secundary{
    background-color: transparent;
    color: rgb(1, 1, 157);
}

.boton.cat{
    position: absolute;
    top: 400px;
    left: 720px;
    background-color: #F7FF00;
    border-color: rgb(0, 0, 0);
    color: black;
}

.boton_cookies{
    width: 300px;
    background: blue;
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .3 ease all;
    margin-bottom: 15px;
    font-size: 14px;
}

.boton_cookies:hover{
    background: rgb(0, 0, 141);
}



